<div class='row bg-dark footer py-2'>
    <div class='text-white d-flex justify-content-center'>
            <p class="me-3">© 2022 | Desarrollado por Carlos Vallejo </p>
            <a target="_blank" class="me-2" href="https://github.com/Carlos-Vallejo-Bustamante"><i class="fa-brands fa-github text-white"></i></a>
            <a target="_blank" class="me-2" href="https://www.linkedin.com/in/carlos-vallejo-bustamante/"><i class="fa-brands fa-linkedin text-white"></i></a>
    </div>
</div>
        